@tailwind components;
@tailwind utilities;

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
}

main {
  flex: 1;
  padding: 1rem;
}

a {
  color: rgb(76, 135, 230);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}